.header {
    margin: 60px 160px 120px 160px;
    font-family: 'Roboto', 'Arial', sans-serif;

    @include laptop {
        margin: 60px 60px 52px 60px;
    }

    @include phones {
        margin: 24px 20px 40px 20px;
    }

    &__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 60px;

        &-title {
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 30px;
            color: $pramaryColorLetters;
            margin: 0 20px 0 0;

            @include phones {
                line-height: 28px;
                margin: 0 16px 0 0;
            }
        }

        &-subtitle {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            color: $secondaryColorLetters;
            background-color: $thirdColorBackground;
            border-radius: 4px;
            padding: 4px 8px 4px 8px;
            margin: 0;
            text-align: center;
        }
    }

    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 112px;
        line-height: 112px;
        color: $pramaryColorLetters;
        margin: 0 0 20px 0;

        @include laptop {
            font-size: 70px;
            line-height: 90px;
            margin: 0;
        }

        @include phones {
            font-size: 50px;
            line-height: 60px;
            margin: 0 0 10px 0;
        }
    }

    &__subtitle {
        margin: 0 0 230px 0;
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 70px;
        color: $pramaryColorLetters;

        @include laptop {
            margin: 0 0 470px 0;
            font-size: 50px;
            line-height: 60px;
        }

        @include phones {
            margin: 0 0 260px 0;
            font-size: 30px;
            line-height: 38px;
        }
    }

    &__form {
        margin: 0 0 12px 0;
        
        @include laptop {
            margin: 0 0 10px 0;
        }

        &-input {
            background-color: $fourthColorBackground;
            border-radius: 8px 0px 0px 8px;
            margin: 0;
            height: 50px;
            box-sizing: border-box;
            max-width: 427px;
            border-color: $fourthColorBackground;
            color: $pramaryColorLetters;
            padding: 0;
            cursor: pointer;

            &:hover {
                background-color: $seventhColorBackground;
            }
        }

        &-btn-save {
            background: $fifthColorBackground;
            color: $fifthColorBackground;
            border-radius: 0px 8px 8px 0px;
            margin: 0 0 0 -5px;
            height: 50px;
            font-size: 13px;
            line-height: 20px;
            max-width: 221px;
            width: 100%;
            padding: 0;

            @include tablets {
                font-size: 10px;
                line-height: 10px;
                padding: 20px;
                width: 23%;
            }

            &-item {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                text-align: center;
                letter-spacing: 0.375px;
                color: $pramaryColorLetters;
                margin-right: 10px;                
            
                @include tablets {
                    display: none;                    
                }

            }
        }
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: $thirdColorLetters;
    }
}