$pramaryColorBackground: #000000;
$secondaryColorBackground: #FFD233;
$thirdColorBackground: #25E197;
$fourthColorBackground: rgba(142, 142, 152, 0.2);
$fifthColorBackground: #47474C;
$sixthColorBackground: #1C1C1E;
$seventhColorBackground: rgba(142, 142, 152, 0.3);

$pramaryColorLetters: #FFFFFF;
$secondaryColorLetters: #000000;
$thirdColorLetters: #47474C;
$fourthColorLetters: #8E8E98;
$fifthColorLetters: #25E197;
$sixthColorLetters: #EAEAF0;